<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>테스트</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<h1>로그인</h1>

<form action="login" data-th-action="@{login}" method='post'>
  <table width="300">
    <tr>
      <td width="80">email</td>
      <td><input data-th-value='${email}' name='email' type='text' placeholder="email" style="width:199px;"/></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input name='password' type='password' placeholder="password"  style="width:199px;"/></td>
    </tr>
  </table>
  <table width="300">
    <tr>
      <td><input name='saveEmail' type='checkbox'> 이메일 저장</td>
      <td align="right"><button>로그인</button></td>
    </tr>
  </table>
</form>
<table width="300">
  <tr>
    <td>
        <button id="googleLoginButton">google 로그인</button>
    </td>
    <td align="right">
      <a data-th-href="@{/member/form}" href="form"><button style="width:100px;">회원가입</button></a>
    </td>
  </tr>
  <tr>
    <td>
      <a  href="form"><button style="width:100px;">kakao 로그인</button></a>
    </td>
    <td align="right">
      <a data-th-href="@{/member/findEmail}" href="findEmail"><button style="width:100px;">이메일 찾기</button></a>
    </td>
  </tr>
  <tr>
    <td>
      <a  href="form"><button style="width:100px;">naver 로그인</button></a>
    </td>
    <td align="right">
      <a data-th-href="@{/member/findPw}" href="findPw"><button style="width:100px;">비밀번호 찾기</button></a>
    </td>
  </tr>
</table>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  document.getElementById('googleLoginButton').addEventListener('click', function() {
     // 새 창 열기
    var newWindow = window.open('', '_blank', 'width=600,height=400');

    // 새 창의 문서에 폼 생성
    var form = newWindow.document.createElement('form');
    form.method = 'post';  // 메서드를 POST로 설정
    form.action = 'login/google';  // 요청을 보낼 URL 설정

    // 폼에 추가할 필드(예: 파라미터)를 설정
    var input = newWindow.document.createElement('input');
    input.type = 'hidden';  // hidden 필드
    input.name = 'parameterName';  // 파라미터 이름
    input.value = 'parameterValue';  // 파라미터 값
    form.appendChild(input);

    // 폼을 새 창의 문서에 추가
    newWindow.document.body.appendChild(form);

    // 폼 서브밋
    form.submit();
  });
</script>

</body>
</html>