<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1 data-th-text="${communityName}">게시판</h1>
<a data-th-href="@{form(category=${category})}" href="form.html">글쓰기</a>
<table border='1'>
  <thead>
  <tr>
    <th>번호</th>
    <th>분류</th>
    <th>제목</th>
    <th>작성자</th>
    <th>조회수</th>
    <th>추천수</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>

  <tr data-th-each="community : ${list}" data-th-object="${community}">
    <td data-th-text="*{no}">1</td>
    <td data-th-text="*{headNo}">말머리</td>
    <td><a data-th-href="@{view(category=${category},no=*{no})}" data-th-text="*{title}"
           href="view.html">정보공유</a>
      <span data-th-if="${community.boardFile}">
         <i class="fas fa-paperclip"></i> <!-- 첨부파일이 있는 경우 클립 아이콘 삽입-->
         </span>

    </td>
    <td data-th-text="*{writer.name}">홍길동</td>
    <td data-th-text="*{viewCount}">30</td>
    <td data-th-text="*{likeCount}">27</td>
    <td data-th-text="${#dates.format(community.createdDate,'yyyy-MM-dd')}">2024-03-27</td>
  </tr>

  </tbody>
</table>

<p>
  [
    <a data-th-if="${pageNo} <= 1">이전</a>
    <a data-th-if="${pageNo > 1}"
       data-th-href="@{list(category=${category},pageNo=${pageNo - 1},pageSize=${pageSize})}"
      href="list">이전</a>
  ]
  [
    <a data-th-if="${pageNo >= numOfPage}">다음</a>
    <a data-th-if="${pageNo < numOfPage}"
       data-th-href="@{list(category=${category},pageNo=${pageNo + 1},pageSize=${pageSize})}"
      href="list">다음</a>
  ]
</p>
<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>